main {
    min-height: 100vh;
}

@mixin content {
    text-align: center;
}

@mixin text {
    display: block;
    color: #000;
    font-size: 4vw;
    font-weight: normal;
}

@mixin button {
    font-size: 4vw;
    white-space: normal;
}

.title {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
}

.text {
    @include text;
}

#btn-swap {
    @include button;
}

#btn-confirm {
    @include button;
    font-size: 4vw;

}